
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: black;
}

h1 { 
    margin-top: 30px;
    color: white;
    text-align: center;
    border-radius: 2px;
}

.container {
    background-color: #d1d1d1;
    max-width: 500px; /* Definindo uma largura máxima para o container */
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 100%; /* Alterando a largura para ocupar toda a largura disponível */
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px; /* Adicionando uma margem inferior */
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    width: 100%; /* Alterando a largura para ocupar toda a largura disponível */
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

/* Mídia query para telas menores */
@media screen and (max-width: 600px) {
    .container {
        width: 90%; /* Alterando a largura do container para ocupar 90% da largura da tela */
        margin: 50px auto 0; /* Ajustando a margem superior */
    }
}
